
@import url('https://fonts.googleapis.com/css2?family=REM:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'REM', sans-serif;
  }
  
  body {
    background-color: #f1f1f1;
  }
  
  #calculator {
    position: relative;
    margin: 100px auto;
    width: 300px;
    background-color: #053225;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0.2);
  }
  
  #display {
    width: 100%;
    padding: 30px;
    text-align: right;
    font-size: 24px;
    background-color: #E34A6F;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  #clear, #equals {
    width: 100%;
    background-color: #B2A198;
  }
  
  button {
    width: 60px;
    height: 60px;
    margin: 5px 0 5px 0;
    outline: none;
    border: none;
    background-color: #F7B2BD;
    color: #333;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
  }
  
  button:active {
    background-color: #ccc;
  }
  
  button:nth-child(2) {
    background-color: #f33;
  }